/*A-mobile MAIN 2-visual*/


body{font-family:'Raleway';color:#000}


._dn:nth-child(2n+1){background-color:#ddd;} 




h1,h2,h3,h4{font-family:'Neue';color:#000}
h1{color:#ED1C24}








a[id^="lbtn_"],.lbtn{border: 0;background:#ccc;padding:.25rem .5rem;vertical-align:middle;font-size:.75rem;font-family:'Raleway';letter-spacing: initial}
a[id^="lbtn_"]:hover,.lbtn:hover{border:1px inset;top:1px}

input{border: 0;background:#ccc;padding:.25rem .5rem;vertical-align:middle;font-size:.75rem;font-family:'Raleway';letter-spacing: initial}



td,th{font-size:1rem}


ul{list-style:none}

.bordered{border-color:#555}

._pos{position:relative;display:inline-block;height:0;width:0;top:0;visibility:hidden}
._pos a{display:block;position:absolute;height:5rem;width:0;bottom:0;visibility:hidden}

main{position:relative;padding-top:5rem;right:0;transition:right cubic-bezier(.19,1,.22,1) .3s,opacity cubic-bezier(.19,1,.22,1) .3s}

body.navmain-active main{right:50%;opacity:.25}



















li._node > a::after {content:" \25E3 "}
li._node.navhover > a::after {content:" \25E5 "}
/*#nav_main>li:last-of-type{}*/
/*#nav_main>li:nth-of-type(1){position:absolute;width:3rem;right:100%;margin-top:1rem;padding:0}*/











/*._ispath{}*/