/*C-mobile MAIN 2-custom https://github.com/marko-36/spotlightframework/wiki/Core-layout,-code-structure,-classes-IDs */
@media (max-width:1057px) {
    .bigtext{background:#ED1C24;color:#fff;padding:0 5px 0 4px;font-size:1.25rem;box-decoration-break:clone;-webkit-box-decoration-break:clone}
    a.bigtext:hover{background:#fff;color:#000;transition:0.15s ease}

    ._dn:nth-child(2n+1) > div {background: rgba(255,255,255,.75);}
    ._dn:nth-child(1) > div {min-height: 23rem;padding-top: 3rem;}
    h1, .h1, h2, .h2, h3, .h3, h4, .h4,p{margin:0}
    .h1, .h2{font-size: 2.75rem; line-height: 2.75rem; color: #ED1C24}
    main>div p,main>div ul,table{margin-top:.5rem}
}