@media (min-width:1058px) {
    [class*="_split-"]{display: flex; align-items: stretch; /*child div can be 100 height*/}
    [class*="_split-"]>div{display:inline-block;width:50%;margin-top:.5rem; vertical-align:top}

    ._split-12>div{width:33%}
    ._split-12>div:nth-of-type(2){width:66%}  

    ._split-13>div{width:25%}
    ._split-13>div:nth-of-type(2){width:74%}    
    
    ._split-2>div:nth-of-type(2n+1){width:49%}

    ._split-3>div{width:33%}
    ._split-3>div:nth-of-type(3n+3){width:32%}

    ._split-4>div{width:25%; padding-right: 2%;}
    ._split-4>div:nth-of-type(4n+4){width:24%}
}